@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Shadows+Into+Light&display=swap');
:root {
    --main-salmon-pink: #D2AB99;
    --main-frensh-grey: #BDBEA9;
    --main-sap-green-light: #8DB38B;
    --main-peacok-green: #56876D;
    --main-sepia: #04724D;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Dosis', sans-serif;
    font-family: 'Shadows Into Light', 'cursive';
    color: black;
    background-color: var(--main-salmon-pink);
    margin: 0;
}

#page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--main-frensh-grey);
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-wrapper {
    background-color: var(--main-sap-green-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    margin-top: 15px;
}

#page-container-books {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 20px 0 20px;
    border-radius: 10px;
    margin-top: 15px;
    width: 85%;
}

h2 {
    font-size: 25px;
    text-align: center;
}

#add-book {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.form-item {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border-style: none;
    background-color: lemonchiffon;
}

imput {


}

imput::placeholder {

}

.checkbox-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#is-read {
    margin: 0 0 0 10px;
}

/* Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3a3a3a;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch-input:checked + .slider {
    background-color: #019260;
}

.switch-input:focus + .slider {
    box-shadow: 0 0 1px #019260;
}

.switch-input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*Button*/
button[type="button"] {
    font-family: 'Dosis', sans-serif;
    font-family: 'Shadows Into Light', 'cursive';
    background-color: var(--main-sepia);
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

#available-book {
    background-color: var(--main-peacok-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#books-tiles-container {
    background-color: var(--main-sepia);
    padding-left: 15px;
    padding-right: 15px;
}

